# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf
*.props text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filters text eol=crlf

# Auto-collapse 3rdparty libraries in PR diffs
3rdparty/* linguist-generated
# But still show project scaffolding files
3rdparty/*.props linguist-generated=false
3rdparty/*.vcxproj linguist-generated=false
3rdparty/*.vcxproj.filters linguist-generated=false
